<div class="container">
    <div style="margin-top: 10px;">
        <img class="icon" src="assets/google.png" alt="Google Icon">
        <h1 style="color: #1f1f1f; font-size: x-large; margin-top: -20px;">Find your email</h1>
        <h4>Enter your email for recovery</h4>
    </div>
    <div style="margin-top: 100px;">
      <form [formGroup]="forgotDataForm" (ngSubmit)="OnForgot()" style="width: 500px;">
        <div>
            <mat-form-field appearance="outline" style="width: 100%;">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Email" formControlName="Email">
                <mat-error *ngIf="forgotDataForm.get('Email')?.hasError('required')">Email is required.</mat-error>
            </mat-form-field>
        </div>
        <div>
            <button class="next" mat-flat-button color="primary">Next</button>
        </div>
      </form>
    </div>
  </div>
  <footer class="footer">
    <select class="option" name="language">
        <option value="en-US">English (United States)</option>
        <option value="tel">Telugu</option>
        <option value="hin">Hindi</option>
        <option value="tam">Tamil</option>
        <option value="kan">Kannada</option>
        <option value="mar">Marati</option>
    </select>
    <button mat-button>Help</button>
    <button mat-button>Privacy</button> 
    <button mat-button>Terms</button> 
  </footer>
  
  
