<div class="container">
    <div style="margin-top: -10px;">
        <img class="icon" src="assets/google.png" alt="Google Icon">
        <h1 style="color: #1f1f1f; font-size: x-large; margin-top: -20px;">Reset your Password</h1>
        <h4>create a strong password for your account</h4>
    </div>
    <div style="margin-top: 50px;">
      <form style="width: 500px;">
        <div>
            <mat-form-field appearance="outline">
                <mat-label>New Password</mat-label>
                <input matInput placeholder="New Password">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Cofirm Password</mat-label>
                <input matInput placeholder=" Confirm Password">
            </mat-form-field>
            <p style="margin-top: -15px;color: #585757;">Use 8 or more characters with a mix of letters, numbers & symbols</p>
        </div>
        <div class="Login-Save">
          <button mat-stroked-button color="primary">Return to Login</button>
          <button mat-flat-button color="primary">Save</button>
        </div>
      </form>
    </div>
  </div>
  <footer class="footer">
    <select class="option" name="language">
        <option value="en-US">English (United States)</option>
        <option value="tel">Telugu</option>
        <option value="hin">Hindi</option>
        <option value="tam">Tamil</option>
        <option value="kan">Kannada</option>
        <option value="mar">Marati</option>
    </select>
    <button mat-button>Help</button>
    <button mat-button>Privacy</button> 
    <button mat-button>Terms</button> 
  </footer>
  
  
  